.co2{
    background-color: aliceblue;
    width:480px;
    height:600px;

}
.for{
    position: relative;
    padding:130px;

}
.lab{
    position: relative;
    display: block;
    margin-top: 40px;
    text-transform: uppercase;

}
.put{
    position: relative;
    border-style: none;
    border-bottom: 2px solid black;
}
.sub{
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: aliceblue;
    background-color: blueviolet;
}
.sub:hover{
    background-color: rgb(74, 16, 129);
}
.cont2p{
    position: absolute;
    top: 306px;
    left:235px;
}
