body{
    margin: 0;
    padding: 0;
    background-color: #6100DA;
}
.ma{
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.ma video{
    min-width: 100vw;
    min-height: 100vh;
    object-fit: fill;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
   
}
.ma1{
    z-index: 10;
    background-image: url("../pic/girl-mountain.jpg");
    background-repeat: no-repeat;
    position: absolute;
    top: 200px;
    left: 500px;
    width:400px;
    height:530px;
    opacity: 0.6;
    border: 5px solid #6100DA;

}
.ma2{
    position: relative;
    top: 270px;
    left: 500px;
    width: 300px;
}
    
.hh{
    z-index: 10;
    color: aliceblue;
    position: absolute;
    left:145px;
    text-align: center;
  
}

.pp{
    z-index: 10;
    color: aliceblue;
    position: absolute;
    top: 420px;
    left:80px;
    width: 400px;
}
.link1{
    color:aliceblue;
}

.ma3{
    background-color:#6100DA;
    position: absolute;
    left: 900px;
    top: 130px;
    width: 500px;
    height:650px;
    z-index: 11;
    padding: 5px;
}
